<div class="container">
  <form novalidate [formGroup]='registrationForm' (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="email" placeholder="Email" type="email" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="password" placeholder="Password" type="password" required>
      </mat-form-field>
    </p>
    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="registrationForm.invalid">Save</button>
    <div *ngIf="errMess">
      <h2>{{errMess}}</h2>
    </div>
  </form>
</div>
