<div class="container">
  <form novalidate [formGroup]='loginForm' (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="email" placeholder="Email" type="email" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="password" placeholder="Password" type="password" required>
      </mat-form-field>
    </p>
    <button mat-raised-button type="submit" style="margin-right: 10px" [disabled]="loginForm.invalid">Login</button>
    <button mat-raised-button type="button" (click)="onRegistration()">Registration</button>
    <div *ngIf="errMess">
      <h2>{{errMess}}</h2>
    </div>
  </form>
</div>


